<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}

    {% for field in form %}

    <label for="{{field.id_for_label}}">{{field.label}}</label>
    <div>{{field}}</div>
    {% for error in field.errors %}
    <p style="color: red">{{error}}</p>
    {% endfor %}


    {% endfor %}
    <button>Submit</button>
    <p><a href="{% url 'authx:reset_password' %}">forgot password</a></p>
</form>
</body>
</html>