{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="form__wrapper">
    <form action="" method="post" class="form">
            {% csrf_token %}

            {% for field in form %}

                <label for="{{field.id_for_label}}" class='field__label'>{{field.label}}</label>
                <div class="input__wrapper">{{field}}</div>

                <ul>
                    {% for error in field.errors %}

                        <li style="color: red" class="field__errors">{{ error }}</li>

                    {% endfor %}
                </ul>


            {% endfor %}

            <button type="submit" class="form__button">Submit</button>


    </form>
</div>

{% endblock content %}
